/* *{
    width: 0px;
    height: 0px;
    box-sizing: border-box;
} */

.main-container{
    border: 2px solid red;
    width: 50%;
    margin: auto;
    height: 500px;
    background-color: grey;
    
}
.input-design{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    
}

.input-design input {
    width: 40%;
    padding: 3px;
    border-radius: 20px;
    background-color: rgb(25, 23, 23);
    color: white;
    margin-left: 20px;
    /* margin-top: 20px; */
}
.input-design label{
    margin-left: 20px;
    margin-top: 20px;
}

.gender-design{
    padding: 3px;
    border-radius: 20px;
    background-color: rgb(25, 23, 23);
    color: white;
}